<div>
  <h1 class="text-black text-sm font-semibold my-3 text-center">
    {{ day_of_the_Lord }} - {{ repertoire_date }}
  </h1>

  <div id="repertoire-table" class="w-80 border-2 stroke-gray-600 rounded-lg flex">

      <ul id="liturgy-list-col">
        <li class="text-black text-sm font-semibold border-r border-b stroke-gray-600">{{ liturgy_col }}</li>
      </ul>

      <ul id="songs-list-col">
        <li class="text-black text-sm font-semibold">{{ songs_col }}</li>
      </ul>
    
  </div>
</div>
